(1) order creator/.gradle
(1) order creator/build/
(1) order creator/gradle/
(1) order creator/.idea
(1) order creator/gradlew
(1) order creator/gradlew.bat
(1) order creator/Exercise Files/

(2) order receiver/.gradle
(2) order receiver/build/
(2) order receiver/gradle/
(2) order receiver/.idea
(2) order receiver/gradlew
(2) order receiver/gradlew.bat
(2) order receiver/Exercise Files/

(3) order logger/.gradle
(3) order logger/build/
(3) order logger/gradle/
(3) order logger/.idea
(3) order logger/gradlew
(3) order logger/gradlew.bat
(3) order logger/Exercise Files/